Repository aiidateam/qe-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.2.0'
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://github.com/ikamensh/flynt/
    rev: '0.76'
    hooks:
    -   id: flynt

-   repo: https://github.com/pycqa/isort
    rev: '5.10.1'
    hooks:
    -   id: isort

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: 'v0.32.0'
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        args: ['-i']
        additional_dependencies: ['toml']

-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        args: [--config-file=pyproject.toml]
        language: python
        types: [python]
        require_serial: true
        pass_filenames: true
        files: >-
            (?x)^(
                src/.*py|
            )$

    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: "^(doc/)|(.utils/)"

fix pre-commit
  src/qe_tools/parsers/_input_base.py
  tests/data/lattice_ibrav0_cell_parameters_int.in
  tests/data/ref/lattice_ibrav0_cell_parameters_int.json
Due: mypy, pylint

Update tests/data/lattice_ibrav0_cell_parameters_int.in
  tests/data/lattice_ibrav0_cell_parameters_int.in
Due: none

update test
  tests/data/lattice_ibrav0_cell_parameters_int.in
  tests/data/ref/lattice_ibrav0_cell_parameters_int.json
Due: none

Fix input parser for cell parameters with integers (#71)
  src/qe_tools/parsers/_input_base.py
  tests/data/lattice_ibrav0_cell_parameters_int.in
  tests/data/ref/lattice_ibrav0_cell_parameters_int.json
  tests/test_parsers.py
Due: mypy, pylint

Fix the regex `NUMBER_PATTERN` in _input_base.py
  src/qe_tools/parsers/_input_base.py
Due: mypy, pylint

Fix the regex `NUMBER_PATTERN` in _input_base.py (#72)
  src/qe_tools/parsers/_input_base.py
Due: mypy, pylint

Add marda-extractors support for PW and CP input files
  src/qe_tools/exceptions.py
  src/qe_tools/extractors/__init__.py
  src/qe_tools/parsers/_input_base.py
  src/qe_tools/parsers/_pw_input.py
Due: mypy, pylint

Add test for `extract` function
  tests/data/cp.in
  tests/data/extractor_ref/cp.json
  tests/data/extractor_ref/pw.json
  tests/data/pw.in
  tests/test_extractor.py
Due: pylint

Add marda-extractors support for PW and CP input files (#73)
  src/qe_tools/exceptions.py
  src/qe_tools/extractors/__init__.py
  src/qe_tools/parsers/_input_base.py
  src/qe_tools/parsers/_pw_input.py
  tests/data/cp.in
  tests/data/extractor_ref/cp.json
  tests/data/extractor_ref/pw.json
  tests/data/pw.in
  tests/test_extractor.py
Due: mypy, pylint

Add missing import path for `extractors`
  src/qe_tools/__init__.py
Due: mypy, pylint

(PR #74) Add missing import path for `extractors`
  src/qe_tools/__init__.py
Due: mypy, pylint

Pin `pytest~=7.0`
  pyproject.toml
Due: none

Dependencies: Pin `pytest~=7.0` (#75)
  pyproject.toml
Due: none

Release `v2.2.0`
  CHANGELOG.md
  src/qe_tools/__init__.py
Due: mypy, pylint

Added the the Hartree and Bohr value in SI, and defined the atomic units to GPA conversion.
  src/qe_tools/_constants.py
Due: mypy, pylint

Update src/qe_tools/_constants.py
  src/qe_tools/_constants.py
Due: mypy, pylint

✨ Add conversion constants for a.u. to GPa
  src/qe_tools/_constants.py
Due: mypy, pylint

🔧 Add `update_changelog.py` script
  .github/workflows/update_changelog.py
Due: pylint

🚀 Release `v2.3.0`
  CHANGELOG.md
  src/qe_tools/__init__.py
Due: mypy, pylint

🔧 Devops: Switch to `ruff` for linting/formatting
  .github/workflows/validate_release_tag.py
  .pre-commit-config.yaml
  pyproject.toml
  src/qe_tools/__init__.py
  src/qe_tools/_constants.py
  src/qe_tools/_qe_version.py
  src/qe_tools/converters/_structure.py
  src/qe_tools/parsers/_input_base.py
  src/qe_tools/parsers/_pw_input.py
  tests/test_cell_conversion.py
  tests/test_parsers.py
Due: mypy, pylint

✨ First draft of `PwParser`
  src/qe_tools/parsers/pw.py
  src/qe_tools/parsers/schemas/__init__.py
  src/qe_tools/parsers/schemas/qes_030920.xsd
  src/qe_tools/parsers/schemas/qes_190304.xsd
  src/qe_tools/parsers/schemas/qes_191206.xsd
  src/qe_tools/parsers/schemas/qes_200420.xsd
  src/qe_tools/parsers/schemas/qes_210716.xsd
  src/qe_tools/parsers/schemas/qes_211101.xsd
  src/qe_tools/parsers/schemas/qes_220603.xsd
  src/qe_tools/parsers/schemas/qes_230310.xsd
  src/qe_tools/parsers/schemas/qes_240411.xsd
Due: mypy, pylint

Apply suggestions from review
  .pre-commit-config.yaml
  pyproject.toml
Due: none

👌 `CHANGELOG.md`: remove superfluous title
  CHANGELOG.md
Due: none

🔧 Drop Python 3.8 support; add Python 3.12, 3.13
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Modified the structure of the code to split between inputs and outputs. Made many functions as public since they could be useful to users and outside of their context.
  src/qe_tools/__init__.py
  src/qe_tools/_elements.py
  src/qe_tools/converters/__init__.py
  src/qe_tools/converters/structure.py
  src/qe_tools/exceptions.py
  src/qe_tools/extractors/__init__.py
  src/qe_tools/parsers/inputs/__init__.py
  src/qe_tools/parsers/inputs/base.py
  src/qe_tools/parsers/inputs/cp.py
  src/qe_tools/parsers/inputs/pw.py
  src/qe_tools/parsers/inputs/utils.py
  src/qe_tools/parsers/outputs/__init__.py
  src/qe_tools/parsers/outputs/pw.py
  src/qe_tools/parsers/outputs/schemas/__init__.py
  src/qe_tools/parsers/outputs/schemas/qes_030920.xsd
  src/qe_tools/parsers/outputs/schemas/qes_190304.xsd
  src/qe_tools/parsers/outputs/schemas/qes_191206.xsd
  src/qe_tools/parsers/outputs/schemas/qes_200420.xsd
  src/qe_tools/parsers/outputs/schemas/qes_210716.xsd
  src/qe_tools/parsers/outputs/schemas/qes_211101.xsd
  src/qe_tools/parsers/outputs/schemas/qes_220603.xsd
  src/qe_tools/parsers/outputs/schemas/qes_230310.xsd
  src/qe_tools/parsers/outputs/schemas/qes_240411.xsd
Due: mypy, pylint

Added pycharm stuff in gitignore.
  .gitignore
Due: none

Abstraction of base outputs, added ase and pymatgen files where the conversions should take place. In all other files, ase and pymatgen should not be used.
  .pre-commit-config.yaml
  src/qe_tools/converters/__init__.py
  src/qe_tools/converters/ase.py
  src/qe_tools/converters/pymatgen.py
  src/qe_tools/converters/structure.py
  src/qe_tools/inputs/base.py
  src/qe_tools/outputs/base.py
  src/qe_tools/outputs/pw.py
Due: mypy, pylint

Refactoring with Outputs objects relying on Parsers. This allows flexibility regarding the number of output files for each type of computation, e.g. NEB.
  src/qe_tools/outputs/base.py
  src/qe_tools/outputs/parsers/__init__.py
  src/qe_tools/outputs/parsers/base.py
  src/qe_tools/outputs/parsers/cp.py
  src/qe_tools/outputs/parsers/neb.py
  src/qe_tools/outputs/parsers/pw.py
  src/qe_tools/outputs/parsers/schemas/__init__.py
  src/qe_tools/outputs/parsers/schemas/qes_030920.xsd
  src/qe_tools/outputs/parsers/schemas/qes_190304.xsd
  src/qe_tools/outputs/parsers/schemas/qes_191206.xsd
  src/qe_tools/outputs/parsers/schemas/qes_200420.xsd
  src/qe_tools/outputs/parsers/schemas/qes_210716.xsd
  src/qe_tools/outputs/parsers/schemas/qes_211101.xsd
  src/qe_tools/outputs/parsers/schemas/qes_220603.xsd
  src/qe_tools/outputs/parsers/schemas/qes_230310.xsd
  src/qe_tools/outputs/parsers/schemas/qes_240411.xsd
  src/qe_tools/outputs/pw.py
Due: mypy, pylint

✨ Add basic `stdout` parsing functionality
  .gitignore
  pyproject.toml
  src/qe_tools/converters/qe.py
  src/qe_tools/outputs/parsers/base.py
  src/qe_tools/outputs/parsers/pw.py
Due: mypy, pylint

Added pymatgen and ase checks in respective files.
  src/qe_tools/converters/ase.py
  src/qe_tools/converters/pymatgen.py
  src/qe_tools/outputs/base.py
  src/qe_tools/outputs/pw.py
  tests/test_parsers.py
Due: mypy, pylint
