Repository aiidateam/qe-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, prospector, interpolate-workflows

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: version-number
        name: Check consistency in version number
        entry: python ./.utils/fix_setup_version.py
        language: system
        pass_filenames: false

      - id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: ["-i"]

      # prospector: collection of linters
      - id: prospector
        language: system
        types: [file, python]
        exclude: .utils
        name: prospector
        description: "This hook runs Prospector: https://github.com/landscapeio/prospector"
        entry: prospector

      - id: interpolate-workflows
        name: Interpolate Github workflows
        entry: python ./.utils/interpolate_yaml_anchors.py
        language: system
        files: |
          (?x)^(
            .github/(.)*|
            utils/interpolate_yaml_anchors.py
          )$
        pass_filenames: false

  # mypy: static type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.770
    hooks:
      - id: mypy
        exclude: "^(doc/)|(examples/)|(playground/)|(.utils/)"

Add Python 3.9 to tests, drop 3.5 compatibility.
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .pre-commit-config.yaml
  .pylintrc
  .travis.yml
  mypy.ini
  qe_tools/_constants.py
  qe_tools/parsers/_input_base.py
  setup.json
  tests/test_cell_conversion.py
  tests/test_parsers.py
Due: yapf, prospector, interpolate-workflows

Add Github actions CI.
  .ci/install_script.sh
  .coveragerc
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .pre-commit-config.yaml
  .utils/fix_setup_version.py
  .utils/interpolate_yaml_anchors.py
  setup.json
Due: yapf, interpolate-workflows

Remove Travis CI configuration.
  .travis.yml
Due: none

Remove Travis CI configuration. (#59)
  .travis.yml
Due: none

Bump version to `2.0.0rc2`.
  qe_tools/__init__.py
  setup.json
Due: yapf, prospector

Bump version to `2.0.0rc2`. (#60)
  qe_tools/__init__.py
  setup.json
Due: yapf, prospector

Switch to `pyproject.toml` and set up CD action
  .github/workflows/cd.yml
  .github/workflows/validate_release_tag.py
  .pre-commit-config.yaml
  .utils/fix_setup_version.py
  mypy.ini
  pyproject.toml
  pytest.ini
  setup.json
Due: yapf, prospector, interpolate-workflows

DevOps: fix the pre-commit
  .pre-commit-config.yaml
  .prospector.yaml
  .pylintrc
  pyproject.toml
  qe_tools/_constants.py
  qe_tools/_qe_version.py
  qe_tools/converters/__init__.py
  qe_tools/converters/_structure.py
  qe_tools/parsers/_cp_input.py
  qe_tools/parsers/_input_base.py
  qe_tools/parsers/_pw_input.py
  tests/test_cell_conversion.py
  tests/test_parsers.py
Due: yapf, prospector

Remove `setup.py`, correct `pyproject.toml` and CD workflow
  .github/workflows/cd.yml
  .pre-commit-config.yaml
  LICENSE.txt
  MANIFEST.in
  pyproject.toml
  qe_tools/__init__.py
  setup.py
Due: yapf, prospector, interpolate-workflows

Remove explicit installs through `setup.py`
  .ci/install_script.sh
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .pre-commit-config.yaml
  .utils/interpolate_yaml_anchors.py
  pyproject.toml
Due: yapf, interpolate-workflows

DevOps: add the `flynt` pre-commit hook
  .pre-commit-config.yaml
  pyproject.toml
  qe_tools/converters/_structure.py
  qe_tools/parsers/_input_base.py
  tests/test_cell_conversion.py
  tests/test_parsers.py
Due: yapf, prospector

DevOps: add the `isort` pre-commit hook
  .pre-commit-config.yaml
  pyproject.toml
  qe_tools/__init__.py
  qe_tools/_qe_version.py
  qe_tools/converters/_structure.py
  qe_tools/parsers/__init__.py
  qe_tools/parsers/_input_base.py
  qe_tools/parsers/_pw_input.py
  tests/test_parsers.py
  tests/test_version_parse.py
Due: yapf, prospector

DevOps: fix the `mypy` pre-commit configuration
  .pre-commit-config.yaml
  pyproject.toml
  qe_tools/converters/_structure.py
  qe_tools/parsers/_input_base.py
Due: yapf, prospector

DevOps: move source folder into the `src` subdirectory
  .coveragerc
  .github/workflows/validate_release_tag.py
  .pre-commit-config.yaml
  src/qe_tools/__init__.py
  src/qe_tools/_constants.py
  src/qe_tools/_qe_version.py
  src/qe_tools/converters/__init__.py
  src/qe_tools/converters/_structure.py
  src/qe_tools/exceptions.py
  src/qe_tools/parsers/__init__.py
  src/qe_tools/parsers/_cp_input.py
  src/qe_tools/parsers/_input_base.py
  src/qe_tools/parsers/_pw_input.py
Due: yapf, prospector, interpolate-workflows

Release `2.0.0`
  src/qe_tools/__init__.py
Due: yapf, prospector

Dependencies: Drop support for Python 3.6 and 3.7
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  pyproject.toml
Due: interpolate-workflows

Devops: Update `isort==5.12.0` requirement
  .pre-commit-config.yaml
Due: none

Dependencies: Update `pylint~=2.16.0`
  pyproject.toml
  src/qe_tools/parsers/_input_base.py
  tests/test_parsers.py
Due: yapf, prospector

Release `v2.1.0`
  CHANGELOG.md
  src/qe_tools/__init__.py
Due: yapf, prospector

Devops: Update the `setup-python` action for CI and CD
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: interpolate-workflows

Devops: Update the `setup-python` action for CI and CD (#66)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: interpolate-workflows

Dependencies: Add support for Python 3.10 and 3.11
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  pyproject.toml
Due: interpolate-workflows

Dependencies: Add support for Python 3.10 and 3.11 (#68)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  pyproject.toml
Due: interpolate-workflows

Allow for the literal '' in `str2val`
  src/qe_tools/parsers/_input_base.py
  tests/data/example_comment_in_namelist.in
Due: yapf, prospector

Allow for empty strings in `str2val` (#65)
  src/qe_tools/parsers/_input_base.py
  tests/data/example_comment_in_namelist.in
Due: yapf, prospector

Dependencies: Update `pylint~=2.16.0` (#69)
  pyproject.toml
  src/qe_tools/parsers/_input_base.py
  tests/test_parsers.py
Due: yapf, prospector

make number parsing more robust
  src/qe_tools/parsers/_input_base.py
  tests/data/lattice_ibrav0_cell_parameters_int.in
  tests/data/ref/lattice_ibrav0_cell_parameters_int.json
  tests/test_parsers.py
Due: yapf, prospector
